{$WEB_DOMAIN} {
    encode zstd gzip

    handle /api/* {
        reverse_proxy quant-api:5000
    }

    @staticAssets path /js/* /css/* /img/* /fonts/*
    handle @staticAssets {
        root * /srv
        file_server
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}

{$API_DOMAIN} {
    encode zstd gzip
    reverse_proxy quant-api:5000
}

http://{$SERVER_IP} {
    encode zstd gzip

    handle /api/* {
        reverse_proxy quant-api:5000
    }

    @staticAssets path /js/* /css/* /img/* /fonts/*
    handle @staticAssets {
        root * /srv
        file_server
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
